#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* -------------------------- */

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding: 10px;
  min-height: 400px;
  max-width: 250px;
  background-color: rgb(78, 86, 95);
  border-radius: 10px;
}

.Bar {
  text-align: left;
  padding-left: 10px;
  margin: 4px;

  /* border: 2px; */
}

.sideBar {
  border: black;
  max-width: 250px;

  border-radius: 10px;
  background-color: rgb(78, 86, 95);
  color: white;
}

.heading {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}
.heading:hover {
  background-color: gray;
}

.Add {
  padding-left: 10px;
  cursor: pointer;
}

.Dlt {
  padding-left: 10px;
  cursor: pointer;
}

.name {
  cursor: pointer;
}
